extends layout

block content
  .hero-section
    h1= title
    p Welcome to Photo Gallery Application
    p Version: #{version}

  .links
    a(href="/upload") Upload Image
    a(href="/gallery") View Gallery
